.formWrapper {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper div {
  display: flex;
}

.alert {
  color: red;
  width: 100%;
}

.textField {
  background-color: white;
  border-radius: 5px;
}
